* {
    box-sizing: border-box;
    margin: 0%;
    padding-bottom: 10px;
}

/*headerstyle med bild, länk och text*/
header {
    border: solid black;
    background-color: rgb(137, 136, 136);
    opacity: 80%;
}

#bild1 {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 20px;

}
h1 {
    font-family: "Audiowide", sans-serif;
    color:  rgb(139, 244, 244);
    text-align: center;
}
a {
    font-family: "Audiowide", sans-serif;
    color:  rgb(139, 244, 244);    
    margin-left: 20px;
}
a:hover {
    color: black;
}
/*headerstyle med bild,länk och text*/


/*mainstyle med justering av bild på mig, justering av text.*/


body {
    background-image: url(Bilder/background_header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h2 {
    font-family: "Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    width: 200px;
}

.bild2 {
    width: 200px;
    height: 270px;
    margin-left: 120px;
    margin-bottom: 10px;
    opacity: 90%;
    border-radius: 30px;
    
} 

#divlink {
    font-family: "Audiowide", sans-serif;
    font-size: larger;
    color: rgb(27, 26, 26);
    text-align: center;
    width: 150px;
    height: 200px;
    position: relative;
    left: 42%;
    bottom: 8cm;
}

.link1 {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    border-radius: 20px;
    border: solid black;
    width: 30px;
    position: relative;
    top: 25%;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
}
.link1:hover {
    color: black;
}

.förstatext {
    font-family: "Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
    text-align: center;
    padding-top: 5px;
    margin: 15px;
    width: 280px;
    height: 240px;
    float: right;
    position: relative;
    bottom: 125mm;
    margin-right: 120px;
    border-radius: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
}


/*kontakta mig, style*/

p {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    text-align: center;
    font-size: larger;

}

#kontakt {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    border-radius: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    width: 200px;
    height: 300px;
    font-size: larger;
    position: relative;
    left: 40%;


    
}

#tele {
    font-family: "Audiowide", sans-serif;
    color: blue;

}

.linkmail {
    font-family: "Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    text-align: center;

}



footer {
    border: solid black;
    background-color: rgb(137, 136, 136);
    opacity: 80%;
}


/* Bakgrund style*/

#bild3 {
    width: 200px;
    height: 270px;
    margin-left: 120px;
    opacity: 90%;
    border-radius: 30px;
    position: relative;
    top: 158px;

}

#bild4 {
    width: 200px;
    height: 270px;
    opacity: 90%;
    border-radius: 30px;
    position: relative;
    top: 158px;

}

.text2 {
    width: 700px;
    height: 330px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    position: relative;
    left: 46%;
    bottom: 110px;
}

/* Bakgrund style*/


/* Familj Style */

#bild5 {
    width: 350px;
    height: 370px;
    opacity: 80%;
    margin-top: 7%;
    margin-left: 8%;
}

.text3 {
    width: 700px;
    height: 330px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    float: right;
    margin-top: 7%;
    margin-right: 6%;
    padding-left: 4px;
    padding-right: 4px;

}

ul {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
}
