* {
    box-sizing: border-box;
    margin: 0%;
    padding-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
}

/* Detta är grundinnehåll som följer med på varje sida */
.header {
    grid-area: header;
    border: solid black;
    background-color: rgb(137, 136, 136);
    opacity: 80%;
    width: 100%;
}

#bild1 {
    width: 80px;
    height: 100px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

h1 {
    font-family: "Audiowide", sans-serif;
    color:  rgb(139, 244, 244);
    text-align: center;
}
a {
    font-family: "Audiowide", sans-serif;
    color:  rgb(139, 244, 244);    
}
a:hover {
    color: black;
}

nav {
    margin-top: 1%;
    margin-left: 2%;
}

body {
    background-image: url(Bilder/background_header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;    
}

.footer {
    grid-area: footer;
    border: solid black;
    background-color: rgb(137, 136, 136);
    opacity: 80%;
    height: 105px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

#footer {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: smaller;
    float: right;
    padding-right: 10px;
    padding-top: 20px;   
}
/* Detta är grundinnehåll som följer med på varje sida */


/* --------------Förstasidan---------------- */ 
.profilbild {
    grid-area: left;
    position: relative;
    left: 25%;
    top: 40%;
}

.bild2 {
    width: 200px;
    height: 270px;
    opacity: 90%;
    border-radius: 30px;
}

.main {
    grid-area: main;
    list-style-type: none;
    position: relative;
    top: 30%;
    left: 15%;
}

.link1 {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
    border-radius: 20px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    width: 150px;
    text-align: center;
    margin-top: 40px;    
}

.link1:hover {
    color: black;
}

.lista1 {
    list-style: none;    
}

.introtext {
    grid-area: right;
    font-family: "Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
    padding-top: 5px;
    padding-left: 5px;
    width: 280px;
    height: 250px;
    border-radius: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    position: relative;
    top: 40%;
    left: 20%;
}
/* --------------Förstasidan---------------- */


/* --------------Kontaktsida---------------- */
.formulär {
    grid-area: main;
    border-radius: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    width: 380px;
    height: 420px;
    padding-left: 100px;
    padding-top: 10px;
    position: relative;
    top: 8%;
}

label {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
}
/* --------------Kontaktsida---------------- */


/* --------------Bakgrundsida------------- */

/* Div .bilder som används i bakgrund- och intressesida.
   Använder flex för att lätt flytta bilderna 
   samt att dom blir responsiva. */
.bilder {
    grid-area: left;
    display: flex;
    margin-top: 16vh;
    margin-left: 8vw;
    gap: 15px;
}

.bild3,.bild4 {
    width: 200px;
    height: 270px;
    opacity: 90%;
    border-radius: 30px;    
}

p {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
}
span {
    font-style: italic;
}

.text2 {
    grid-area: right;
    width: 500px;
    height: 330px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    position: relative;
    top: 12vh;
    right: 15%;
    overflow: scroll;    
}
/* --------------Bakgrundsida------------- */


/* --------Intresse- och Familjsida-------- */
.text3 {
    grid-area: right;
    width: 500px;
    height: 330px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid black;
    background-color: rgb(107, 107, 105);
    opacity: 80%;
    position: relative;
    top: 12vh;
    right: 15%;
    overflow: scroll;
}

.familj {
    grid-area: left;
    position: relative;
    top: 20%;
    left: 20%;
}

#bild5 {
    width: 400px;
    height: 370px;
    opacity: 80%;
    border-radius: 30px;
}

.lista2 {
    font-family:"Audiowide", sans-serif;
    color: rgb(139, 244, 244);
    font-size: larger;
    list-style: none;
}
/* --------Intresse- och Familjsida-------- */



/* --Responsivitet för mobil (iphone 12 pro)-- */

@media only screen and (min-width: 200px) and (max-width: 767px) {

    .container {
        grid-template-columns: 25% 50% 25%;
        grid-template-areas: 
        "header header header"
        ". main ."
        ". right ."
        ". left ."
        "footer footer footer";
    }

    .profilbild {
        grid-area: main;
        left: 0;
        top: 0;
        margin-top: 8vh;
    }

    .introtext {
        width: 200px;
        height: 320px;
        top: 0;
        left: 0;
        margin-top: 3vh;       
    }

    .main {
        grid-area: left;
        top: 0;
        left: -1em;
    }

    .bild2 {
        width: 100%;
        height: 300px;

    }
    
    .formulär {
        grid-area: main;
        top: 10vh;
        left: -3em;
        width: 300px;
    }

    .label {
        padding-left: -8em;
    }

    /* Medvetet att bilderna är mindre. använder block för lodrätt placering */
    .bilder {
        grid-area: main;
        display: block;
        margin-top: 4vh;
        gap: 20px;   
        margin-left: -2vw; 
    }

    .bild4 {
        top: 3vh;
    }

    .text2 {
        position: relative;
        grid-area: right;
        margin-left: -9vw;
        width: 320px;
        height: 700px;
        top: 5vh;
    }

    .familj {
        grid-area: main;
        left: -14vw;
    }

    #bild5 {
        width: 300px;
    }

    .text3 {
        position: relative;
        grid-area: right;
        margin-left: -9vw;
        width: 320px;
        height: 500px;
    }

    .footer {
        grid-area: footer;
        position: static;
        margin-top: 23vh;
    }
}
    /* --Responsivitet för mobil (iphone 12 pro)-- */
    
    
    /* --Responsivitet för surfplatta (ipad air)-- */

@media only screen and (min-width: 768px) and (max-width: 1026px) {

    .introtext {
        top: 15vh;
        left: -2vw;    
    }

    .main {
        top: 11vh;
        left: 0;
    }

    .profilbild {
        top: 14vh;
        left: 8vw;
    }

    .formulär {
        top: 15vh;
        left: -7vw;
    }

    .bilder {
        display: flex;
        margin-top: 16vh;
        gap: 20px;
        width: 150px;
    }
    
    .bild3,.bild4 {
        width: 150px;
    }

    .bilder img {
        display: flex;
    }
    
    .text2 {
        width: 350px;
        top: 16vh;
        right: 12vw;
    }

    .familj {
        top: 16vh;
        right: 0;
    }
    
    #bild5 {
        width: 320px;
    }
    
    .text3 {
        top: 16vh;
        right: 7vw;
        width: 300px;
        height: 360px;
    }
}
    /*-- Responsivitet för surfplatta (ipad air)-- */